<nav>
   <div class="nav-wrapper green darken-1">
     <a href="/" class="brand-logo">PlantTrackr</a>
     <ul class="right hide-on-med-and-down">
       <li><a href="/plants">Browse</a></li>
       <li><a href="/greenhouse">My Plants</a></li>
       <li><a href="/plants/new">Create Plant</a></li>
       <li><a href="/logout" class="waves-effect waves-light btn green darken-1">Logout</a></li>
     </ul>
   </div>
 </nav>

<section>
  <div class="row">
   <div class="col s8 offset-s2">
    <h4 class="header center-align cyan-text text-darken-1" style="color:#00acc1; margin-top:50px;"><i class="material-icons">edit</i><%=@plant.name%></h4>
    <div class="row">
      <form id="editplant" action="/plants/<%=@plant.id%>" class="col s12" method="POST">
        <input id="hidden" type="hidden" name="_method" value="patch" for="editplant">
            <div class="row">
              <div class="input-field col s12">
                <input id="name" type="text" name="plant[name]" value="<%=@plant.name%>" required>
                <label for="name">Plant Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <img class="circle responsive-img" src="<%=@plant.picture%>" style="height:200px;">
                <input id="picture" type="text" name="plant[picture]" value="<%=@plant.picture%>">
                <label for="picture">Photo Url</label>
              </div>
            </div>

            <div class="row">
              <div class="col s12 m3">
                <%sun = @plant.sunlight%>
                <%dirt = @plant.soil%>
                <%pot = @plant.container_size%>
                <%drain = @plant.drainage%>
                <h6 class="flow-text" style="color:#00acc1;">Sunlight Needs</h6>
                <p>
                <input name="plant[sunlight]" type="radio" id="sunlight_low" value="Low" <%='checked' if (sun == 'Low')%> required/>
                <label for="sunlight_low">Low</label>
              </p>
                <p>
                <input name="plant[sunlight]" type="radio" id="sunlight_med" value="Medium" <%='checked' if (sun == 'Medium')%> required/>
                <label for="sunlight_med">Medium</label>
              </p>
                <p>
                <input name="plant[sunlight]" type="radio" id="sunlight_high" value="High" <%='checked' if (sun == 'High')%> required/>
                <label for="sunlight_high">High</label>
              </p>
              </div>
              <div class="col s12 m3">
                <h6 class="flow-text" style="color:#00acc1;">Soil Type</h6>
                <p>
                  <input name="plant[soil]" type="radio" id="soil-clay" value="Clay" <%='checked' if (dirt == 'Clay')%> required/>
                  <label for="soil-clay">Clay</label>
                </p>
                <p>
                  <input name="plant[soil]" type="radio" id="soil-silt" value="Silt" <%='checked' if (dirt == 'Silt')%> required/>
                  <label for="soil-silt">Silt</label>
                </p>
                <p>
                  <input name="plant[soil]" type="radio" id="soil-peaty" value="Peaty" <%='checked' if (dirt == 'Peaty')%> required/>
                  <label for="soil-peaty">Peaty</label>
                </p>
                <p>
                  <input name="plant[soil]" type="radio" id="soil-loam" value="Loam" <%='checked' if (dirt == 'Loam')%> required/>
                  <label for="soil-loam">Loam</label>
                </p>
                <p>
                  <input name="plant[soil]" type="radio" id="soil-chalky" value="Chalky" <%='checked' if (dirt == 'Chalky')%> required/>
                  <label for="soil-chalky">Chalky</label>
                </p>
                <p>
                  <input name="plant[soil]" type="radio" id="soil-sandy" value="Sandy" <%='checked' if (dirt == 'Sandy')%> required/>
                  <label for="soil-sandy">Sandy</label>
                </p>
                <p>
                  <input name="plant[soil]" type="radio" id="soil-rocky" value="Rocky" <%='checked' if (dirt == 'Rocky')%> required/>
                  <label for="soil-rocky">Rocky</label>
                </p>
              </div>

              <div class="col s12 m3">
                <h6 class="flow-text" style="color:#00acc1;">Container Size</h6>
                <p>
                  <input name="plant[container]" type="radio" id="container-xs" value="Extra Small" <%='checked' if (pot == 'Extra Small')%> required/>
                  <label for="container-xs">Extra Small</label>
                </p>
                <p>
                  <input name="plant[container]" type="radio" id="container-sm" value="Small" <%='checked' if (pot == 'Small')%> required/>
                  <label for="container-sm">Small</label>
                </p>
                <p>
                  <input name="plant[container]" type="radio" id="container-med" value="Medium" <%='checked' if (pot == 'Medium')%> required/>
                  <label for="container-med">Medium</label>
                </p>
                <p>
                  <input name="plant[container]" type="radio" id="container-lg" value="Large" <%='checked' if (pot == 'Large')%> required/>
                  <label for="container-lg">Large</label>
                </p>
                <p>
                  <input name="plant[container]" type="radio" id="container-xl" value="Extra Large" <%='checked' if (pot == 'Extra Large')%> required/>
                  <label for="container-xl">Extra Large</label>
                </p>
              </div>

              <div class="col s12 m3">
                <h6 class="flow-text" style="color:#00acc1;">Soil Drainage Needs</h6>
                <p>
                  <input name="plant[drainage]" type="radio" id="drainage-low" value="Low" <%='checked' if (drain == 'Low')%> required/>
                  <label for="drainage-low">Low</label>
                </p>
                <p>
                  <input name="plant[drainage]" type="radio" id="drainage-med" value="Medium" <%='checked' if (drain == 'Medium')%> required/>
                  <label for="drainage-med">Medium</label>
                </p>
                <p>
                  <input name="plant[drainage]" type="radio" id="drainage-high" value="High" <%='checked' if (drain == 'High')%> required/>
                  <label for="drainage-high">High</label>
                </p>
                <p>
                  <input name="plant[drainage]" type="radio" id="drainage-very-high" value="Very High" <%='checked' if (drain == 'Very High')%> required/>
                  <label for="drainage-very-high">Very High</label>
                </p>
              </div>
            </div>
            </div>
            </div>
            </div>
      </section>

<section>
  <div class="row">
   <div class="col s8 offset-s2">
     <h4 class="header center-align" style="color:#00acc1; margin-top:50px;">Edit care instructions</h4>
     <div class="row">
       <div class="input-field col m4 s12">
         <input id="water-amt" type="text" name="plant[instructions][water_amt]" value="<%=@plant.instructions.last[:water_amt]%>">
         <label for="water-amt">Water Amount</label>
       </div>
       <div class="input-field col m8 s12">
         <%unit = @plant.instructions.last[:water_amt_unit]%>
       <select id="liquid" name="plant[instructions][water_amt_unit]" form="editplant">
         <option value="" disabled selected>Unit of Water</option>
         <option value="Spritz" id="spritz" <%='selected' if (unit == 'Spritz')%>>Spritz</option>
         <option value="Teaspoon(s)" id="tsp" <%='selected' if (unit == 'Teaspoon(s)')%>>Teaspoon(s)</option>
         <option value="Tablespoon(s)" id="tbsp" <%='selected' if (unit == 'Tablespoon(s)')%>>Tablespoon(s)</option>
         <option value="Cup(s)" id="cup" <%='selected' if (unit == 'Cup(s)')%>>Cup(s)</option>
         <option value="Pint(s)" id="pint" <%='selected' if (unit == 'Pint(s)')%>>Pint(s)</option>
         <option value="Ounce(s)" id="oz" <%='selected' if (unit == 'Ounce(s)')%>>Ounce(s)</option>
         <option value="Quart(s)" id="qt" <%='selected' if (unit == 'Quart(s)')%>>Quart(s)</option>
         </select>
          <label>Water Unit</label>
       </div>
     </div>

     <div class="row">
       <div class="input-field col m4 s12">
         <input id="water-freq" type="text" name="plant[instructions][water_freq]" value="<%=@plant.instructions.last[:water_freq]%>">
         <label for="water-freq">Water Frequency</label>
       </div>
       <div class="input-field col m8 s12">
         <%pfreq = @plant.instructions.last[:water_freq_unit]%>
       <select name="plant[instructions][water_freq_unit]" form="editplant">
         <option value="" disabled selected>Frequency Unit</option>
         <option value="Day(s)" <%='selected' if pfreq == 'Day(s)'%>>Day(s)</option>
         <option value="Week(s)" <%='selected' if pfreq == 'Week(s)'%>>Week(s)</option>
         <option value="Month(s)" <%='selected' if pfreq == 'Month(s)'%>>Month(s)</option>
         </select>
          <label>Frequency</label>
       </div>
     </div>
   </div>
     </div>
</section>

      <div class="row" style="height:200px;">
        <div class="input-field col offset-s5" style="margin-top:5S0px;">
          <button class="btn-large waves-effect waves-light deep-orange lighten-1" type="submit" name="action">Update</button>
        </div>
      </div>
    </form>

    <form action="/plants/<%=@plant.id%>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <button type="submit" value="Delete Tweet" name="Delete Plant">Delete Plant</button>
    </form>

<script>
$(document).ready(function() {
  $('select').material_select();
  $('.tooltipped').tooltip({delay: 50});
  $('ul.tabs').tabs();
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
  });

  $("liquid").material_select("Cup(s)");
});


</script>
