<style>
.fixed-action-btn {
  float: right !important;
  position: absolute !important;
  right: 5px !important;
  top: 5px !important;
  }

  .fixed-action-btn-2 {
    float: right !important;
    position: absolute !important;
    right: 50px !important;
    top: 5px !important;
    }

  #overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #43A047; /* Black background with opacity */
    z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
}

.spinner-layer {
        border-color: white !important;
    }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes transform: translate(-50%, -50%);*/

}
.material-icons {
    vertical-align: middle;
}
</style>
<nav>
   <div class="nav-wrapper green darken-1">
     <a href="/" class="brand-logo">PlantTrack</a>
     <ul class="right hide-on-med-and-down">
       <li class="active"><a href="/plants">Browse</a></li>
       <li><a href="/greenhouse">My Plants</a></li>
       <li><a href="/plants/new">Create Plant</a></li>
       <li><a href="/logout" class="waves-effect waves-light btn light-green darken-4">Logout</a></li>
     </ul>
   </div>
 </nav>

<div class="preloader hero" id="overlay">
<div class="preloader-wrapper big active centered">
      <div class="spinner-layer spinner-blue" style="z-index:3000;">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>

<div class="parallax-container" style="height:450px;">
  <div class="parallax" style="background-color:#000000;"><img src="https://images.pexels.com/photos/631909/pexels-photo-631909.jpeg?w=1260&h=750&dpr=3&auto=compress&cs=tinysrgb" style="opacity: 0.7; filter:blur(5px);"></div>
        <h2 class="header center-align" style="color:#ffffff; margin-top:1.25em;">Welcome, <%=@user.username%></h2>
        <hr style="border-color:#ffffff; width:40%;"><br>
        <h5 class="header center-align" style="color:#ffffff;">Browse all community plants and click <i class="material-icons">content_copy</i> to add it to your greenhouse.</h5>
        <br>
        <br>
          <p class="center-align">
            <a href="/plants/new"><button class="btn-large waves-effect waves-light deep-orange lighten-1">Create Plant
                <i class="material-icons right">add</i>
            </button></a>
          </p>
</div>

      <div class="row container">
      <%@plants.each do |plant|%>
          <div class="col s12 m6">
              <div class="card large sticky-action">
                <%if session[:user_id] == plant.user_id%>
                  <div class="fixed-action-btn toolbar">
                      <a class="btn-floating btn-sm deep-orange lighten-1">
                        <i class="large material-icons">mode_edit</i>
                      </a>
                      <ul>
                        <li class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Journal"><a href="/plants/<%=plant.id%>"><i class="material-icons">event_note</i></a></li>
                        <li class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="New Status"><a class="modal-trigger" data-target="statusmodal"><i class="material-icons">playlist_add</i></a></li>
                        <li class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit"><a href="/plants/<%=plant.id%>/edit"><i class="material-icons">edit</i></a></li>
                        <li class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Copy"><a href="#!"><i class="material-icons">content_copy</i></a></li>
                          <li class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete"><a href="#" onclick="document.getElementById('deleteplant').submit();"><i class="material-icons">delete_forever</i></a></li>
                      </ul>
                    </div>
                  <%end%>
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="<%=plant.picture%>">


                </div>
                <div id="copyit" style="display:none !important;">/plants/<%=plant.id%></div>

                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"><h5><%=plant.name%><i class="small material-icons right">expand_more</i></h5></span>
                  <p>Created By: <%=User.find_by_id(plant.user_id).username%></p>
                </div>
                <div class="card-action">
                  <%plantid = plant.id%><!--deep-orange-text text-lighten-1-->
                  <div class="row" style="margin-bottom:0px !important;">
                    <div class="col s8">
                    <a href="#" class=" teal-text text-lighten-1"><%=plant.instructions.last.water_amt%> <%=plant.instructions.last.water_amt_unit%> of water every <%=plant.instructions.last.water_freq%> <%=plant.instructions.last.water_freq_unit%></a>
                    </div>
                    <div class="col s4 right-align">
                      <a class="btn-flat" style="margin-right:5px;padding:0px !important;" onclick="myFunction()"><i class="material-icons right-align">share</i></a>
                      <a class="btn-flat" style="margin-right:5px;padding:0px !important;"><i class="material-icons right-align">content_copy</i></a>
                      <a class="btn-flat" style="margin-right:5px;padding:0px !important;"><i class="material-icons right-align">favorite_border</i></a>
                    </div>
                  </div>
                </div>
                <div class="card-reveal">
                  <span class="card-title"><i class="material-icons activator">close</i></span><br><br>
                  <span class="card-title grey-text text-darken-4 center-align"><%=plant.name%></span>
                  <div class="col s12 m12">
                    <ul class="collection" style="border:none;">
                      <li class="collection-item" >
                        <h6><%=plant.soil%> Soil <i class="material-icons secondary-content" style="vertical-align:middle;">landscape</i></h6>
                      </li>
                      <li class="collection-item" >
                        <h6><%=plant.sunlight%> Sunlight<i class="material-icons secondary-content">wb_sunny</i></h6>
                      </li>
                      <li class="collection-item" >
                        <h6><%=plant.container_size%> Container<i class="fa fa-archive secondary-content"></i></h6>
                      </li>
                      <li class="collection-item" >
                        <h6><%=plant.drainage%> Drainage<i class="fa fa-shower fa-lg secondary-content"></i></h6>
                      </li>
                    </ul>
                </div>
                </div>
              </div>

            <form id="deleteplant" action="/plants/<%=plant.id%>/delete" method="post" style="display:none !important;">
              <input id="hidden" type="hidden" name="_method" value="delete">
              <input type="submit" value="Delete Plant" id="delete">
            </form>
          </div>

          <div id="statusmodal" class="modal modal-fixed-footer">
           <form id="newplant" action="/<%=plant.id%>/statuses" method="POST">
           <div class="modal-content">
                    <h5 class="center-align"><i class="fa fa-pagelines fa-2x" aria-hidden="true" style="color:#00acc1;"></i></h5>
                   <h4 class="header center-align" style="color:#00acc1;"><%=plant.name%> Status Update</h4>
                   <div class="input-field" id="plant_statuses_event" >
                   <select name="plant[statuses][event]" form="newplant">
                     <option value="" disabled selected>Select an event</option>
                     <option class="water_status" value="Watered" id="watered">Watered</option>
                     <option class="water_status" value="Pruned" id="pruned">Pruned</option>
                     <option class="water_status" value="Move to More Sun" id="moresun">Moved to More Sun</option>
                     <option class="water_status" value="Moved to Less Sun" id="lesssun">Moved to Less Sun</option>
                     <option class="water_status" value="Repotted" id="repotted">Repotted</option>
                     </select>
                      <label for="plant_statuses_event">Event</label>
                   </div>

                 <label for="status-date">Select the Event date</label>
                 <input type="text" class="datepicker" id="status-date" name="plant[statuses][event_date]" form="newplant">

                     <div class="input-field">
                     <select name="plant[statuses][leaf_status]" form="newplant">
                       <option value="" disabled selected>How's your plant looking?</option>
                       <option value="New Growth">New Growth</option>
                       <option value="Healthy">Healthy</option>
                       <option value="Curling">Curling</option>
                       <option value="Drooping">Drooping</option>
                       <option value="Yellowing">Yellowing</option>
                       <option value="Light Spots">Light Spots</option>
                       <option value="Dark Spots">Dark Spots</option>
                       <option value="Dead Leaves">Dead Leaves</option>
                       </select>
                        <label>Leaf Status</label>
                     </div>

                     <div class="input-field">
                     <select name="plant[statuses][soil_status]" form="newplant">
                       <option value="" disabled selected>How's the soil feel?</option>
                       <option value="Extremely Dry">Extremely Dry</option>
                       <option value="Dry">Dry</option>
                       <option value="Damp">Damp</option>
                       <option value="Soaked">Soaked</option>
                       <option value="Showing Mildew">Showing Mildew</option>
                       </select>
                        <label>Soil Status</label>
                     </div>
             </div>

             <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
                <button class="btn waves-effect waves-light deep-orange lighten-1" type="submit" name="action">Update
                    <i class="material-icons right">add</i>
                </button>
             </div>
               </form>
             </div>
      <%end%>
      </div>


<script>

$(document).ready(function() {
  $('select').material_select();
  $('.tooltipped').tooltip({delay: 50});
  $('.parallax').parallax();
  $('.carousel').carousel();
  $('.modal').modal();
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
  });


});

   $(window).on('load', function() {
            $('.preloader').delay(600).fadeOut('slow');
            $('.preloader-wrapper').delay(500).fadeOut();
        });
   </script>
